# Sample ShortWeb configuration file
# ==================================
# Copy this file to `shortweb.config` in the base directory of the script and
# fill these values out on a local basis.
#
# Lines that begin with # are comments. See the ConfigParser module
# documentation for more info on the configuration format. The implementation
# supports %()s style interpolation.


# Database section
# ----------------
# Commented values use corresponding defaults if not specified.

[DB]
#host = localhost
#user = short
passwd = shortpassword
#db = short
#data_table_name = translation_table


# Web section
# -----------

[Web]
# Note trailing slash here if you use it. base_url is the URL before the
# shortened URL in a valid redirection. Also see the Apache config at the end
# of this sample config file.
base_url = http://example.com/short/
# Title tag with sample field interpolation (note the trailing 's'!).
title = Example.com's redirection service @ %(base_url)s
